html {
  height: 100vh;
  position: relative;
}

.app-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: rgb(13,4,181);
  background: linear-gradient(163deg, rgba(13,4,181,1) 0%, rgba(87,52,144,1) 35%, rgba(6,123,192,1) 100%); 
}