.nav-container {
    display: block;
    color: white;
    width: 25%;
    padding: 20px;
    height: 90%;
}

.nav-inner {
    padding: 10px;
    height: 100%;
    text-align: center;
    background: rgba(10, 43, 63, 0.7);
    border-radius: 20px;
}

.dp-container {
  display: inline-block;
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-plate {
    padding: 20px;
}
